body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Calibri, Arial;
    height: 100%;
    width: 100%;
}
#div-nombre-uv {
    width: 80%;
    /*height: 55px;*/
    float: right;
    background: -moz-linear-gradient(left, #fff 5%, #069 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(5%,#fff), color-stop(50%,#069)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #fff 5%,#069 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #fff 5%,#069 50%); /* Opera 11.10+ */
    background: linear-gradient(to right, #fff 5%,#069 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#FFFFFF', endColorstr='#006699'); /*For IE7-8-9*/
}
#span-nombre-uv {
    font-size: 2.20em;
    float: right;
    margin-top: 6px;
    margin-right: 22px;
    color: #fff;
}
#span-estadistica-inscripcion {
    font-family: 'Segoe UI', Arial,'Comic Sans MS';
    margin-left:25px; 
    font-size: 2.00em;
    float: left;
    color: #08088A;
}
#span-titulo-inscripcion-linea {
    font-family: 'Segoe UI',Arial,'Comic Sans MS';
    font-size: 1.50em;
    margin-left: 25px;
    clear: left;
    float: left;
    color: #0B610B;
    position: page;
}
/*aqui empieza la  hoja de estilos del menu*/
#menu_general {
    clear: both;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
    #menu_general li {
        float: left;
    }
        #menu_general li a {
            font-family: Arial;
            font-size: 11px;
            text-decoration: none;
            float: left;
            padding: 10px;
            background-color: #2175bc;
            color: #fff;
        }
            #menu_general li a:hover {
                background-color: #2586d7;
                margin-top: -2px;
                padding-bottom: 12px;
            }
            /*termina el estilo del menu*/